body {
    background-color: white;
}

h1 {
    color: black;
    font-family: Verdana;
}

h2 {
    color: black;
    font-family: 'Georgia Pro';
    text-align: center;
}

p {
    color: black;
    font-family: 'Georgia Pro';
}

a {
    color: red;
    font-family: 'Georgia Pro';
    font-style: italic;
}
